# Environment variables
.env

# Installed packages (see README for how the Lambda deploy zip is built)
node_modules

# Config files
triggers.json

# Folder for notes not for sharing
private

# Old versions
_OLD
_OLD/*

# OS Files
.DS_Store
.vscode/*